main.home {
  width: 100vw;
  min-height: calc(100vh - 70px);
  max-width: var(--max-width);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: radial-gradient(circle at center, #01040d 0%, #000 100%);
  margin: 0 auto;
  text-align: center;
}
main.home::before,
main.home::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  filter: blur(150px);
  opacity: 0.6;
  animation: float 20s infinite alternate;
}
main.home::before {
  width: 600px;
  height: 600px;
  background: rgba(31, 201, 192, 0.4); /* #1fc9c0 */
  top: -200px;
  left: -200px;
}
main.home::after {
  width: 800px;
  height: 800px;
  background: rgba(31, 201, 192, 0.3);
  bottom: -300px;
  right: -300px;
}
@keyframes float {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(50px, 50px);
  }
}

section.home {
  width: 80vw;
  max-width: var(--max-width);
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home .add-link {
  background-color: var(--green-button);
  border-color: transparent;
  margin-top: 1rem;
  padding: 8px 14px;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}
.home .add-link:hover {
  background-color: var(--button-hover);
}

/*
 ╭────────────────────────────────╮
 │  Text Elements                 │
 ╰────────────────────────────────╯
*/
.home h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #fff;
  text-shadow: 0 0 20px rgba(88, 101, 242, 0.2);
  transform: translateY(-10px);
  text-align: center;
}
.home p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  color: #c0c0d0;
  padding: 0 2rem;
  text-align: center;
  transform: translateY(-10px);
}
.home a {
  font-size: 0.9rem;
  font-weight: 500;
  color: rgb(60, 220, 212);
  text-decoration: none;
  transition: color 0.3s, transform 0.3s;
}
.home a:hover {
  color: rgba(31, 183, 175, 0.8);
  transform: translateY(-1px);
}

.home footer {
  position: fixed;
  bottom: 0;
  margin: 0.8rem 0;
  font-size: 0.6rem;
  text-align: center;
}

/*
 ╭────────────────────────────────╮
 │  Responsive Design             │
 ╰────────────────────────────────╯
*/
@media (max-width: 920px) {
  .home p {
    letter-spacing: 0.1rem;
  }
}

@media (min-height: 1000px) and (max-width: 920px) {
  .home h1 {
    font-size: 3.8rem;
  }
}

@media (max-width: 780px) {
  main.home::before {
    width: 300px;
    height: 300px;
    background: rgba(31, 201, 192, 0.6);
    top: -100px;
    left: -100px;
  }
  main.home::after {
    width: 500px;
    height: 500px;
    background: rgba(31, 201, 192, 0.6);
    bottom: -150px;
    right: -150px;
  }

  .home h1 {
    font-size: 3.6rem;
  }
  .home p,
  .home a {
    font-size: 0.8rem;
  }
}

@media (max-width: 420px) {
  .home h1 {
    font-size: 3.4rem;
  }
}

@media (max-width: 380px) {
  .home footer {
    margin: 0.4rem 0;
  }

  .home h1 {
    font-size: 3rem;
  }
}

@media (max-width: 300px) {
  section.home {
    transform: scale(0.9);
  }

  .home h1 {
    font-size: 2rem;
  }
  .home p,
  .home a {
    font-size: 0.6rem;
  }
}
