@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --black: #000;
  --white: #fff;
  --light: #e0e5e4;
  --link-hover: rgba(38, 223, 213, 0.9);
  --button-hover: rgba(32, 206, 197, 0.3);
  --green-button: rgb(29, 194, 185);
  --scale-xs: scale(1.1);
  --max-width: 1280px;
}

::-webkit-scrollbar {
  display: none;
}

html {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  width: 100vw;
  min-height: 100vh;
  letter-spacing: 2px;
  background-color: var(--black);
  color: var(--light);
  overflow-x: hidden;
}
